<!-- flex container -->
<main>
    <!-- image container -->
    <div id="image" *ngIf="imageUrl" class="my-box-shadow">
        <img [src]="imageUrl" alt="food-image">
    </div>

    <!-- image info container -->
    <div id="image-info" *ngIf="imageInfo">
        <h3 *ngIf="imageInfo.title" class="main-font">{{imageInfo.title}}</h3>
        <!-- if no title is present then display default title -->
        <h3 *ngIf="!imageInfo.title">Default title of image</h3>

        <p>{{imageInfo.description}}</p>
        <!-- if no description is present then display default description -->
        <p *ngIf="!imageInfo.description">This is a default description of image</p>
    </div>
</main>

<!-- section for form -->
<section class="my-box-shadow">
    <h3 class="main-font">Review this image</h3>

    <form>
        <!-- <label for="rating" hidden>rate</label> -->
        <div id="radio-group">
            <input type="radio" name="rating" value="1">
            <input type="radio" name="rating" value="2">
            <input type="radio" name="rating" value="3">
            <input type="radio" name="rating" value="4">
            <input type="radio" name="rating" value="5">
            <input type="radio" name="rating" value="6">
            <input type="radio" name="rating" value="7">
            <input type="radio" name="rating" value="8">
            <input type="radio" name="rating" value="9">
            <input type="radio" name="rating" value="10">
        </div>

        <!-- end of radios -->
        <div id="user-input">
            <input type="text" placeholder="review by...">
            <textarea name="review" id="review-reason" placeholder="reason for review.." rows="3"></textarea>
        </div>

        <button class="my-box-shadow">Submit</button>

    </form>
</section>