/* You can add global styles to this file, and also import other style files */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:rgba(0,0,0,0.8);
    color: rgb(255, 255, 255);
}

.main-font
{
    font-size: 2rem;
    text-shadow: 3px 4px 7px rgba(0,0,0,0.9);
    /* text-shadow: 2px 2px 3px white; */
}

.secondary-font
{
    font-size: 1rem;
}

.my-box-shadow
{
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.9);
}